
### facinstall
#GIT_PACKAGE facinstall=https://github.com/openwrt-xiaomi/facinstall.git main

### cozymenu
#GIT_PACKAGE cozymenu=https://github.com/openwrt-xiaomi/cozymenu.git master

### luci-app-temp-status
#GIT_PACKAGE luci-app-temp-status=https://github.com/gSpotx2f/luci-app-temp-status.git master

### luci-app-disks-info
#GIT_PACKAGE luci-app-disks-info=https://github.com/gSpotx2f/luci-app-disks-info.git master

### luci-app-diskman
#GIT_PACKAGE luci-app-diskman=https://github.com/lisaac/luci-app-diskman.git master

### luci-theme-argon
#GIT_PACKAGE luci-theme-argon=https://github.com/ozonep/luci-theme-argon.git master

### luci-app-argon-config
#GIT_PACKAGE luci-app-argon-config=https://github.com/jerrykuku/luci-app-argon-config.git master

### luci-app-tn-netports
#GIT_PACKAGE luci-app-tn-netports=https://github.com/openwrt-xiaomi/luci-app-tn-netports.git master

### luci-app-netspeedtest
#GIT_PACKAGE luci-app-netspeedtest=https://github.com/muink/luci-app-netspeedtest.git master


### AmneziaWG
#GIT_FEED _amneziawg=https://github.com/lolo6oT/awg-openwrt.git dev-24.10
CONFIG_FEED__amneziawg=m

### Zapret
#GIT_FEED _zapret=https://github.com/remittor/zapret-openwrt.git
CONFIG_FEED__zapret=m

### ruantiblock
#GIT_FEED _ruantiblock=https://github.com/gSpotx2f/ruantiblock_openwrt.git
CONFIG_FEED__ruantiblock=m

### podkop (itdog)
#GIT_FEED _podkop=https://github.com/itdoginfo/podkop.git
CONFIG_FEED__podkop=m

### xwrt-packages
#GIT_FEED _xwrt_packages=https://github.com/x-wrt/com.x-wrt.git master
CONFIG_FEED__xwrt_packages=m

